{% extends 'layout/base.html' %}

{% block 'title' %}Contactos {{contac.id}} {% endblock  %}

{% block 'content' %}
<span class="aux-btn"><a href="{% url 'contac' %}">Volver</a></span>
<ul class="list">
    <li><b>Nombre</b>{{contact.name}}</li>
    <li><b>Apellidos</b>{{contact.last_name}}</li>
    <li><b>Telefono</b>{{contact.phone}}</li>
    <li><b>Telefono movil</b>{{contact.mobile}}</li>
    <li><b>Email</b>{{contact.email}}</li>
    <li><b>Notas</b>{{contact.notes}}</li>
</ul>

{% endblock  %}